<div class="container mt-5">

  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <form class="mt-2" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <p-dropdown class="control" [options]="availableVoivodeships  | orderBy:'name'" formControlName="voivodeship"
          optionLabel="name" placeholder="Województwo" emptyMessage="Brak wyników">
        </p-dropdown>
      </div>

      <div class="mb-3">
        <p-dropdown class="control" [options]="availableCounties | orderBy:'name'" formControlName="county"
          optionLabel="name" placeholder="Powiat" emptyMessage="Brak wyników">
        </p-dropdown>
      </div>

      <div class="mb-3">
        <p-dropdown class="control" [options]="availableMunicipalities | orderBy:'name'" formControlName="municipality"
          optionLabel="name" emptyMessage="Brak wyników" placeholder="Gmina">
        </p-dropdown>
      </div>

      <div class="mb-3">
        <p-dropdown class="control" [options]="availableRegions" formControlName="region" optionLabel="name"
          placeholder="Obszar" emptyMessage="Brak wyników">
        </p-dropdown>
      </div>

      <div class="mb-3">
        <input class="control" type="text" pInputText formControlName="number" placeholder="Numer Działki" />
      </div>

      <p-button class="d-flex justify-content-center" type="submit">Wyszukaj</p-button>
    </form>
  </div>
  <div *ngIf="parcel!=null" class="d-flex justify-content-center">
    <div class="card mt-5 p-3 output d-flex justify-content-center">
      <h5 class="card-title">Informacje o działce</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Numer:</strong> {{ parcel.ParcelNumber }}</li>
        <li class="list-group-item"><strong>Pełny Number:</strong> {{ parcel.Id }}</li>
        <li class="list-group-item">
          <strong>Google Maps: </strong>
          <a [href]="parcel.GoogleMapsLink" target="_blank">Link</a>
        </li>
        <li class="list-group-item">
          <strong>Geoportal: </strong>
          <a [href]="parcel.GeoportalLink" target="_blank">Link</a>
        </li>
      </ul>
    </div>
  </div>


</div>